.notFound {
    @include verticalCenter;
    height: 95vh;
    max-width: 1200px;
    background: $color-3;
    border-radius: $borderRadius;
    text-align: center;

    h3 {
        margin-bottom: 3.5rem;
        font-size: 2rem;

        &:nth-child(1) {
            margin-bottom: 0.5rem;
        }
    }

    a {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 1rem 2rem;
        background: $color-5;
        border-radius: $borderRadius;
        transition: 0.2s;

        &:hover {
            background: $color-4;
        }
    }
}
